fabric/D365 Pipelines/pl_dimension_logic.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "FabricSqlDatabaseSource",
            "sqlReaderQuery": "select m.*, e.SuccessEMails, e.FailureEMails\nfrom ingestion_metadata m\n  join load_emails e\n     on m.DataSource = e.DataSource\nwhere m.Active=1\nand (DATEDIFF(MINUTE, isnull(m.LastLoadDateTime, '01/01/1900'), GETDATE()) / 60.0) >= m.RefreshFrequencyHours\nand m.ProcessingStoredProcedure is not null\n",
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "FabricSqlDatabaseTable",
            "schema": [],
            "connectionSettings": {
              "name": "WH_Metadata",
              "properties": {
                "type": "FabricSqlDatabase",
                "typeProperties": {
                  "artifactId": "6f414d1e-d6ac-9205-4867-c7ecb9b6942d",
                  "workspaceId": "00000000-0000-0000-0000-000000000000"
                },
                "externalReferences": {
                  "connection": "e7b4e8b4-bdca-4fac-a60a-6ba925e51986"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.4:00:00",
          "retry": 3,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Lookup Dim Tables to Load",
        "state": "Active",
        "dependsOn": []
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "items": {
            "value": "@activity('Lookup Dim Tables to Load').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "SqlServerStoredProcedure",
              "typeProperties": {
                "storedProcedureName": {
                  "value": "@item().ProcessingStoredProcedure",
                  "type": "Expression"
                }
              },
              "linkedService": {
                "name": "WH_Transform",
                "properties": {
                  "type": "DataWarehouse",
                  "typeProperties": {
                    "artifactId": "f6e1c5b9-74e2-8c39-44c9-87a9136eef95",
                    "endpoint": "efrhfadk6eru3b7hpy4j3xs2eu-qg2ask2keqhepf4xm5b72jokau.datawarehouse.fabric.microsoft.com",
                    "workspaceId": "00000000-0000-0000-0000-000000000000"
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.4:00:00",
                "retry": 3,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Run Processing Stored procedure",
              "state": "Active",
              "dependsOn": [
                {
                  "activity": "Start Load",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "type": "DataWarehouseSource",
                  "partitionOption": "None",
                  "queryTimeout": "02:00:00",
                  "datasetSettings": {
                    "type": "DataWarehouseTable",
                    "typeProperties": {
                      "schema": {
                        "value": "@item().SourceTableSchema",
                        "type": "Expression"
                      },
                      "table": {
                        "value": "@item().SourceTableName",
                        "type": "Expression"
                      }
                    },
                    "schema": [],
                    "linkedService": {
                      "name": "WH_Transform",
                      "properties": {
                        "type": "DataWarehouse",
                        "typeProperties": {
                          "artifactId": "f6e1c5b9-74e2-8c39-44c9-87a9136eef95",
                          "endpoint": "efrhfadk6eru3b7hpy4j3xs2eu-qg2ask2keqhepf4xm5b72jokau.datawarehouse.fabric.microsoft.com",
                          "workspaceId": "00000000-0000-0000-0000-000000000000"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "sink": {
                  "type": "DataWarehouseSink",
                  "tableOption": "autoCreate",
                  "allowCopyCommand": true,
                  "copyCommandSettings": {},
                  "writeBehavior": "Insert",
                  "datasetSettings": {
                    "type": "DataWarehouseTable",
                    "typeProperties": {
                      "schema": {
                        "value": "@item().TargetTableSchema",
                        "type": "Expression"
                      },
                      "table": {
                        "value": "@item().TargetTableName",
                        "type": "Expression"
                      }
                    },
                    "schema": [],
                    "linkedService": {
                      "name": "WH_Curated",
                      "properties": {
                        "type": "DataWarehouse",
                        "typeProperties": {
                          "artifactId": "e80cf5d2-f264-ac00-472b-838f66bd9948",
                          "endpoint": "efrhfadk6eru3b7hpy4j3xs2eu-qg2ask2keqhepf4xm5b72jokau.datawarehouse.fabric.microsoft.com",
                          "workspaceId": "00000000-0000-0000-0000-000000000000"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "translator": {
                  "type": "TabularTranslator",
                  "typeConversion": true,
                  "typeConversionSettings": {
                    "allowDataTruncation": true,
                    "treatBooleanAsNumber": false
                  }
                },
                "enableStaging": true
              },
              "policy": {
                "timeout": "0.4:00:00",
                "retry": 3,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Copy data From Transform to Curated",
              "state": "Active",
              "dependsOn": [
                {
                  "activity": "Truncate Table in Curated",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "Office365Outlook",
              "typeProperties": {
                "inputs": {
                  "body": {
                    "To": "@activity('Lookup Dim Tables to Load').output.value[0].FailureEMails",
                    "Subject": "Type 2 Dim Load Failure",
                    "Body": "<p>Type 2 Dim Load Failure - stored proc</p>",
                    "Sensitivity": "",
                    "Importance": "Normal"
                  },
                  "method": "post",
                  "path": "/v2/Mail"
                }
              },
              "name": "Error Email from Stored Proc",
              "state": "Active",
              "dependsOn": [
                {
                  "activity": "Run Processing Stored procedure",
                  "dependencyConditions": [
                    "Failed"
                  ]
                }
              ]
            },
            {
              "type": "Office365Outlook",
              "typeProperties": {
                "inputs": {
                  "body": {
                    "To": "@activity('Lookup Dim Tables to Load').output.value[0].FailureEMails",
                    "Subject": "Type 2 Dim Load Failure",
                    "Body": "<p>Type 2 Dim Load Failure - copy to curated</p>",
                    "Sensitivity": "",
                    "Importance": "Normal"
                  },
                  "method": "post",
                  "path": "/v2/Mail"
                }
              },
              "name": "Error Email from Copy",
              "state": "Active",
              "dependsOn": [
                {
                  "activity": "Copy data From Transform to Curated",
                  "dependencyConditions": [
                    "Failed"
                  ]
                }
              ]
            },
            {
              "type": "SqlServerStoredProcedure",
              "typeProperties": {
                "storedProcedureName": "[dbo].[usp_StartLoad]",
                "storedProcedureParameters": {
                  "DatabaseName": {
                    "value": {
                      "value": "@item().DatabaseName",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "DataSource": {
                    "value": {
                      "value": "@item().DataSource",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "SourceTableName": {
                    "value": {
                      "value": "@item().SourceTableName",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "SourceTableSchema": {
                    "value": {
                      "value": "@item().SourceTableSchema",
                      "type": "Expression"
                    },
                    "type": "String"
                  }
                }
              },
              "connectionSettings": {
                "name": "WH_Metadata",
                "properties": {
                  "type": "FabricSqlDatabase",
                  "typeProperties": {
                    "artifactId": "6f414d1e-d6ac-9205-4867-c7ecb9b6942d",
                    "workspaceId": "00000000-0000-0000-0000-000000000000"
                  },
                  "externalReferences": {
                    "connection": "e7b4e8b4-bdca-4fac-a60a-6ba925e51986"
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.4:00:00",
                "retry": 3,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Start Load",
              "state": "Active",
              "dependsOn": []
            },
            {
              "type": "SqlServerStoredProcedure",
              "typeProperties": {
                "storedProcedureName": "[dbo].[usp_EndLoadSuccess]",
                "storedProcedureParameters": {
                  "DatabaseName": {
                    "value": {
                      "value": "@item().DatabaseName",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "DataSource": {
                    "value": {
                      "value": "@item().DataSource",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "SourceTableName": {
                    "value": {
                      "value": "@item().SourceTableName",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "SourceTableSchema": {
                    "value": {
                      "value": "@item().SourceTableSchema",
                      "type": "Expression"
                    },
                    "type": "String"
                  }
                }
              },
              "connectionSettings": {
                "name": "WH_Metadata",
                "properties": {
                  "type": "FabricSqlDatabase",
                  "typeProperties": {
                    "artifactId": "6f414d1e-d6ac-9205-4867-c7ecb9b6942d",
                    "workspaceId": "00000000-0000-0000-0000-000000000000"
                  },
                  "externalReferences": {
                    "connection": "e7b4e8b4-bdca-4fac-a60a-6ba925e51986"
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.4:00:00",
                "retry": 2,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "End Load Success",
              "state": "Active",
              "dependsOn": [
                {
                  "activity": "Copy data From Transform to Curated",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "SqlServerStoredProcedure",
              "typeProperties": {
                "storedProcedureName": "[dbo].[usp_EndLoadFailure]",
                "storedProcedureParameters": {
                  "DatabaseName": {
                    "value": {
                      "value": "@item().DatabaseName",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "DataSource": {
                    "value": {
                      "value": "@item().DataSource",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "SourceTableName": {
                    "value": {
                      "value": "@item().SourceTableName",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "SourceTableSchema": {
                    "value": {
                      "value": "@item().SourceTableSchema",
                      "type": "Expression"
                    },
                    "type": "String"
                  }
                }
              },
              "connectionSettings": {
                "name": "WH_Metadata",
                "properties": {
                  "type": "FabricSqlDatabase",
                  "typeProperties": {
                    "artifactId": "6f414d1e-d6ac-9205-4867-c7ecb9b6942d",
                    "workspaceId": "00000000-0000-0000-0000-000000000000"
                  },
                  "externalReferences": {
                    "connection": "e7b4e8b4-bdca-4fac-a60a-6ba925e51986"
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.4:00:00",
                "retry": 2,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "End Load Failure",
              "state": "Active",
              "dependsOn": [
                {
                  "activity": "Run Processing Stored procedure",
                  "dependencyConditions": [
                    "Failed"
                  ]
                }
              ]
            },
            {
              "type": "SqlServerStoredProcedure",
              "typeProperties": {
                "storedProcedureName": "[dbo].[usp_EndLoadFailure]",
                "storedProcedureParameters": {
                  "DatabaseName": {
                    "value": {
                      "value": "@item().DatabaseName",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "DataSource": {
                    "value": {
                      "value": "@item().DataSource",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "SourceTableName": {
                    "value": {
                      "value": "@item().SourceTableName",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "SourceTableSchema": {
                    "value": {
                      "value": "@item().SourceTableSchema",
                      "type": "Expression"
                    },
                    "type": "String"
                  }
                }
              },
              "connectionSettings": {
                "name": "WH_Metadata",
                "properties": {
                  "type": "FabricSqlDatabase",
                  "typeProperties": {
                    "artifactId": "6f414d1e-d6ac-9205-4867-c7ecb9b6942d",
                    "workspaceId": "00000000-0000-0000-0000-000000000000"
                  },
                  "externalReferences": {
                    "connection": "e7b4e8b4-bdca-4fac-a60a-6ba925e51986"
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.4:00:00",
                "retry": 2,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "End Load Failure_copy1",
              "state": "Active",
              "dependsOn": [
                {
                  "activity": "Copy data From Transform to Curated",
                  "dependencyConditions": [
                    "Failed"
                  ]
                }
              ]
            },
            {
              "type": "Script",
              "typeProperties": {
                "scripts": [
                  {
                    "text": {
                      "value": "TRUNCATE TABLE @{item().TargetTableSchema}.@{item().TargetTableName}",
                      "type": "Expression"
                    },
                    "type": "Query"
                  }
                ],
                "scriptBlockExecutionTimeout": "02:00:00"
              },
              "connectionSettings": {
                "name": "WH_Curated",
                "properties": {
                  "type": "DataWarehouse",
                  "typeProperties": {
                    "artifactId": "e80cf5d2-f264-ac00-472b-838f66bd9948",
                    "endpoint": "efrhfadk6eru3b7hpy4j3xs2eu-qg2ask2keqhepf4xm5b72jokau.datawarehouse.fabric.microsoft.com",
                    "workspaceId": "00000000-0000-0000-0000-000000000000"
                  },
                  "externalReferences": {
                    "connection": "f4bd464f-4b45-4667-9f87-32b462bafd93"
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.4:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Truncate Table in Curated",
              "dependsOn": [
                {
                  "activity": "Run Processing Stored procedure",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            }
          ]
        },
        "name": "ForEach table to load",
        "state": "Active",
        "dependsOn": [
          {
            "activity": "Lookup Dim Tables to Load",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Office365Outlook",
        "typeProperties": {
          "inputs": {
            "body": {
              "To": "@activity('Lookup Dim Tables to Load').output.value[0].SuccessEMails",
              "Subject": "Dim Load Successful",
              "Body": "<p>Dim Load Successful</p>",
              "Sensitivity": "",
              "Importance": "Normal"
            },
            "method": "post",
            "path": "/v2/Mail"
          }
        },
        "name": "Success Email",
        "state": "Active",
        "dependsOn": [
          {
            "activity": "Check for FailedDim Duplicate SK Checks",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Office365Outlook",
        "typeProperties": {
          "inputs": {
            "body": {
              "To": "@activity('Lookup Dim Tables to Load').output.value[0].FailureEMails",
              "Subject": "Dim Load Failure",
              "Body": "<p>Dim Load Failure - ForEach loop</p>",
              "Sensitivity": "",
              "Importance": "Normal"
            },
            "method": "post",
            "path": "/v2/Mail"
          }
        },
        "name": "Error Email from ForEach",
        "state": "Active",
        "dependsOn": [
          {
            "activity": "ForEach table to load",
            "dependencyConditions": [
              "Failed"
            ]
          }
        ]
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "DataWarehouseSource",
            "sqlReaderQuery": "SELECT COUNT(1) FailedDims FROM vwDIM_SurrogateKey_DuplicateCheck",
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "DataWarehouseTable",
            "schema": [],
            "linkedService": {
              "name": "WH_Transform",
              "properties": {
                "type": "DataWarehouse",
                "typeProperties": {
                  "artifactId": "f6e1c5b9-74e2-8c39-44c9-87a9136eef95",
                  "endpoint": "efrhfadk6eru3b7hpy4j3xs2eu-qg2ask2keqhepf4xm5b72jokau.datawarehouse.fabric.microsoft.com",
                  "workspaceId": "00000000-0000-0000-0000-000000000000"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": true
        },
        "policy": {
          "timeout": "0.4:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Check to Ensure no Duplicate SKs",
        "state": "Active",
        "dependsOn": [
          {
            "activity": "ForEach table to load",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "IfCondition",
        "typeProperties": {
          "expression": {
            "value": "@equals(coalesce(activity('Check to Ensure no Duplicate SKs').output.firstRow.FailedDims, 0), 0)",
            "type": "Expression"
          },
          "ifTrueActivities": [],
          "ifFalseActivities": [
            {
              "type": "Fail",
              "typeProperties": {
                "message": "Duplicate SKs found in Dim table load.",
                "errorCode": "500"
              },
              "name": "Duplicate SKs found in Dim table load",
              "state": "Active",
              "dependsOn": []
            }
          ]
        },
        "name": "Check for FailedDim Duplicate SK Checks",
        "state": "Active",
        "dependsOn": [
          {
            "activity": "Check to Ensure no Duplicate SKs",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Office365Outlook",
        "typeProperties": {
          "inputs": {
            "body": {
              "To": "@activity('Lookup Dim Tables to Load').output.value[0].FailureEMails",
              "Subject": "Dim Load Failure - Duplicate SKs",
              "Body": "<p>Dim Load Failure - Duplicate SKs</p>\n<p>Run the following query to determine offending dimensions:</p>\n<p>SELECT * FROM WH_transform.dbo.vwDIM_SurrogateKey_DuplicateCheck</p>\n<p><br></p>",
              "Sensitivity": "",
              "Importance": "Normal"
            },
            "method": "post",
            "path": "/v2/Mail"
          }
        },
        "name": "Failure Email Duplicate SKs",
        "state": "Active",
        "dependsOn": [
          {
            "activity": "Check for FailedDim Duplicate SK Checks",
            "dependencyConditions": [
              "Failed"
            ]
          }
        ]
      },
      {
        "type": "Fail",
        "typeProperties": {
          "message": "Duplicate SKs found in Dim table load.",
          "errorCode": "500"
        },
        "name": "Duplicate SKs found in Dim table load_copy1",
        "state": "Active",
        "dependsOn": [
          {
            "activity": "Failure Email Duplicate SKs",
            "dependencyConditions": [
              "Completed"
            ]
          }
        ]
      }
    ]
  }
}